.background-colorfooter{
  background-color: var(--MainBg);
  color: var( --MainTextColor);
  bottom: 0;
 
}
.float-right{
    text-align: end;
   
  }
  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .align-center{
      text-align: center;
      padding-bottom: 10px;
    }
  
    .float-right{
      text-align: center;
      padding-left: 0px;
    }
    .background-colorfooter{
        bottom: 0;
    }
  }
  