<nav class="navbar navbar-expand-lg navclass position-sticky">
    <div class="container-fluid">
        <div class="clipstyle">
            <a class="navbar-brand" routerLink="/admin">
                <img draggable="false" class="nav-img" src="../../../../../assets/Kalpita_logo.svg" alt="kalpita-logo" />
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="ri-menu-line menu-color"></i></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="container">
                <div class="row">
                    <div class="col-md-10 userhead-column">
                        <h5 class="text-head">ADMIN DASHBOARD</h5>
                    </div>
                    <div class="col-md-2 dropdown-column">
                    
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                             Theme
                           </button>
                           <ul class="dropdown-menu  menu-cardbody">
                             <li><a class="dropdown-item" (click)="changeTheme('default')">Kalpita</a></li>
                             <li><a class="dropdown-item" (click)="changeTheme('dark')">Dark</a></li>
                             <li><a class="dropdown-item" (click)="changeTheme('light')">Light</a></li>
                           </ul>
                         </div> 
                         <!-- <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                           <option selected> Theme Select</option>
                           <option value="1" (click)="changeTheme('default')" >Kalpita</option>
                           <option value="2" (click)="changeTheme('dark')">Dark</option>
                           <option value="3" (click)="changeTheme('light')">Light</option>
                         </select>
                        -->
                         <!-- <button (click)="changeTheme('default')">
                           Kalpita
                         </button>
                     
                         <button (click)="changeTheme('dark')">
                          Dark
                         </button>
                     
                         <button (click)="changeTheme('light')">
                           Light
                         </button> -->
                     
   
                       </div>
                </div>
            </div>
            <div class="d-flex buttonfloat">
                <!-- <p class="img-circle"><img class="img-size-text" [src]="photo"></p> -->
                <p *ngIf="bool" class="img-circle-text">{{initials}}</p>
                <p *ngIf="!bool" class="img-circle"><img class="img-size" [src]="photo"></p>
                <div class="dropdown">

                    <div class=" dropdown-toggle toggle-padding" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{userName}}
                    </div>

                    <div class="dropdown-menu dragleftmenu" aria-labelledby="dropdownMenuButton1"  *ngIf="this.companydata || this.companydata?.value.length != 0">
                        <div class="col-md-12">
                            <div class="card">
                                    <!-- <p class="card-titles">{{companydata?.value[0]?.displayName}}</p> -->
                                    <p class="card-titles">{{companydata?.value[0]?.displayName}}</p>
                                    <div class="row row-gap">
                                        <div class="col-md-2 padding-gap mobile-img">
                                            <!-- <img class="img-size-text" [src]="photo"> -->
                                            <p *ngIf="bool" class="img-circle-text">{{initials}}</p>
                                            <p *ngIf="!bool" class="img-circle"> <img class="img-size" [src]="photo"></p>
                                        </div>
                                        <div class="col-md-10 padding-gap">
                                           <p class="text-sizes"><a class="dropdown-items-name">{{empData.name}}</a></p>
                                           <p class="text-sizes" title="{{empData.username}}"><a class="dropdown-items-email">{{empData.username}}</a></p>
                                        </div>
                                        <div class="col-md-12 bg-light text-center py-3">
                                             <a (click)="logout()" class="logoutcolr">LOGOUT</a>
                                        </div>
                                    </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</nav>
