<div class="col-2 navbar-color p-0 position-fixed">
    <div class="d-block flex-column align-items-center align-items-sm-start text-white min-vh-100">       
      <ul class="d-block nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item bg-color-box">
          <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link align-middle px-0 bg-color bg-color-txt">
            <i class="ri-function-line"></i>
            <span class="ms-1 d-none d-sm-inline">Dashboard</span>
          </a>
        </li>
        <li class="nav-item bg-color-box">
          <a routerLink="/admin/asign-ticket" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link align-middle px-0 bg-color bg-color-txt">
            <i class="ri-coupon-line"></i>
            <span class="ms-1 d-none d-sm-inline">Assign Ticket</span>
          </a>
        </li>
        <li class="bg-color-box">
          <a routerLink="/admin/ticket-history" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link px-0 align-middle bg-color bg-color-txt">
            <i class="ri-history-line"></i>
            <span class="ms-1 d-none d-sm-inline">Ticket History</span></a>
        </li>
        <li class="bg-color-box">
          <a routerLink="/admin/operations" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link px-0 align-middle bg-color bg-color-txt">
            <i class="ri-user-settings-line"></i>
            <span class="ms-1 d-none d-sm-inline">Configurations</span></a>
        </li>
        
       
      </ul>
    </div>
  </div>
  
